## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [2]:
import pandas as pd

# загрузите датасет
df = pd.read_csv("vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [3]:
# ваш код здесь
len(df["Name"].unique())

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [4]:
# ваш код здесь
df["JP_Sales"].sum()

1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [5]:
# ваш код здесь
top_genres = df.groupby("Genre")["NA_Sales"].mean()
top_genres.sort_values(ascending=False)[:3]

Genre
Platform    0.504571
Shooter     0.444733
Sports      0.291283
Name: NA_Sales, dtype: float64

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [6]:
# ваш код здесь
grouped_date = df[df["Year"].isin([2000, 2015])].groupby("Year")["Platform"].value_counts()
top_platforms = grouped_date.groupby("Year").apply(lambda x: x.idxmax()[1])

print(top_platforms)

Year
2000.0     PS
2015.0    PS4
Name: count, dtype: object

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [7]:
# ваш код здесь
df[(df["Year"] >= 2012) & (df["Year"] <= 2015)].value_counts(["Publisher"]).nlargest(1)

Publisher
Namco Bandai Games    285
Name: count, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [8]:
# ваш код здесь
eu_sold_games = df.groupby("Genre")["EU_Sales"].count()
round(eu_sold_games / sum(eu_sold_games) * 100, 1)

Genre
Action          20.0
Adventure        7.7
Fighting         5.1
Misc            10.5
Platform         5.3
Puzzle           3.5
Racing           7.5
Role-Playing     9.0
Shooter          7.9
Simulation       5.2
Sports          14.1
Strategy         4.1
Name: EU_Sales, dtype: float64